body {
	font-family: Arial, sans-serif;
	background-color: rgb(244, 230, 205);
}

.container {
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
}

label {
	display: block;
	margin-top: 10px;
}

input {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	background-color: rgb(249, 233, 203);
	border: 1px solid #ccc;
	border-radius: 5px; 
}

button {
	background-color: rgb(170, 109, 66);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #db9131;
	transform: scale(1.05);
}
h1, h2 {
    text-align: center;
	color: #4f4e4e;
}
#result {
	margin-top: 20px;
	
}
